<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wechatpay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxeb0650d489d69e14</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wechatpay.cny</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxa09fec92048ff15c</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alipay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.citcon.citconpay</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wechat.aud</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxfa1402e1e6cec516</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ronghan.wechat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx0669b338924035a6</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>wechat</string>
		<string>weixinULAPI</string>
		<string>uppaywallet</string>
		<string>uppaysdk</string>
		<string>uppayx1</string>
		<string>uppayx2</string>
		<string>uppayx3</string>
	</array>
</dict>
</plist>
